<table class="table table-bordered text-center border-black">
  <thead>
      <tr>
          <th>LADO IZQUIERDO</th>
          <th>Dolor</th>
          <th>Dolor Familiar</th>
          <th>Cefalea Familiar</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td class="text-center align-middle" style="font-weight: bold;">Temporal</td>
          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.temporal_dolor_izquierdo_1_4 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.temporal_dolor_familiar_izquierdo_1_4 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.temporal_cefalea_familiar_izquierdo_1_4 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

      </tr>
      <tr>
        <td class="text-center align-middle" style="font-weight: bold;">Masetero</td>
        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.masetero_dolor_izquierdo_1_4 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>	
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.masetero_dolor_familiar_izquierdo_1_4 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

      </tr>
      <tr>
        <td class="text-center align-middle" style="font-weight: bold;">ATM</td>
        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.ATM_dolor_izquierdo_1_4 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.ATM_dolor_familiar_izquierdo_1_4 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

      </tr>
      <tr>
        <td class="text-center align-middle" style="font-weight: bold;">Otros Musc M</td>
        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.otros_Musc_M_dolor_izquierdo_1_4 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.otros_Musc_M_dolor_familiar_izquierdo_1_4 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

      </tr>
      <tr>
        <td class="text-center align-middle" style="font-weight: bold;">No Masticat</td>
        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.no_Masticat_dolor_izquierdo_1_4 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.no_Masticat_dolor_familiar_izquierdo_1_4 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

      </tr>
  </tbody>
</table>




<table class="table table-bordered text-center border-black">
  <thead>
      <tr>
          <th>LADO IZQUIERDO</th>
          <th>Dolor</th>
          <th>Dolor Familiar</th>
          <th>Cefalea Familiar</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td class="text-center align-middle" style="font-weight: bold;">Temporal</td>
          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.temporal_dolor_izquierdo_2_4 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.temporal_dolor_familiar_izquierdo_2_4 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.temporal_cefalea_familiar_izquierdo_2_4 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

      </tr>
      <tr>
        <td class="text-center align-middle" style="font-weight: bold;">Masetero</td>
        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.masetero_dolor_izquierdo_2_4 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>	
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.masetero_dolor_familiar_izquierdo_2_4 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

      </tr>
      <tr>
        <td class="text-center align-middle" style="font-weight: bold;">ATM</td>
        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.ATM_dolor_izquierdo_2_4 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.ATM_dolor_familiar_izquierdo_2_4 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

      </tr>
      <tr>
        <td class="text-center align-middle" style="font-weight: bold;">Otros Musc M</td>
        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.otros_Musc_M_dolor_izquierdo_2_4 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.otros_Musc_M_dolor_familiar_izquierdo_2_4 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

      </tr>
      <tr>
        <td class="text-center align-middle" style="font-weight: bold;">No Masticat</td>
        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.no_Masticat_dolor_izquierdo_2_4 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.no_Masticat_dolor_familiar_izquierdo_2_4 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

      </tr>
  </tbody>
</table>