<div class="form-group">
  <h5>2. Relaciones Incisales</h5>

  <h5 style="text-align: center; font-weight: bold;">
    {{ form.diente_referencia.label_tag}}
  </h5>
  
  <div class="btn-group-toggle" data-toggle="buttons">
    <div class="row">
      {% for checkbox in form.diente_referencia %}
        <div class="col-xs-6 col-sm-4">
          <label class="btn btn-outline-primary btn-block">
            {{ checkbox.tag }} {{ checkbox.choice_label }}
          </label>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-6 col-sm-6">
    <div class="form-group">
      <label>{{ form.sobre_mordida_horizontal.label }}</label>
      {{ form.sobre_mordida_horizontal }}
    </div>
  </div>

  <div class="col-xs-6 col-sm-6">
    <div class="form-group">
      <label>{{ form.sobre_mordida_vertical.label }}</label>
      {{ form.sobre_mordida_vertical }}
    </div>
  </div>
</div>


<div class="form-group">
  <label>{{ form.desviacion_linea_media.label }}</label>
  {{ form.desviacion_linea_media }}
  
</div>

<div>
  <h5 style="text-align: center; font-weight: bold;">
  Lado hacia el que está la desviación </h5>
</div>

<div class="form-group">
  
  <div class="btn-group-toggle" data-toggle="buttons">
    <div class="row">
      {% for checkbox in form.desviacion_linea_lado %}
        <div class="col-xs-6 col-sm-4">
          <label class="btn btn-outline-primary btn-block">
            {{ checkbox.tag }} {{ checkbox.choice_label }}
          </label>
        </div>
      {% endfor %}
    </div>
  </div>
</div>