<table class="table table-bordered text-center border-black">
  <thead>
      <tr>
          <th>LADO IZQUIERDO</th>
          <th>Dolor</th>
          <th>Dolor Familiar</th>
          <th>Cefalea Familiar</th>
          <th>Dolor referido</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td class="text-center align-middle" style="font-weight: bold;">Temporal (posterior)</td>
        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.posterior_dolor_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.posterior_dolor_familiar_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.posterior_cefalea_familiar_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.posterior_dolor_referido_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

      </tr>
      <tr>
        <td class="text-center align-middle" style="font-weight: bold;">Temporal (medio)</td>
        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.medio_dolor_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.medio_dolor_familiar_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.medio_cefalea_familiar_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.medio_dolor_referido_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

      </tr>
      <tr>
        <td class="text-center align-middle" style="font-weight: bold;">Temporal (anterior)</td>
        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.anterior_dolor_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.anterior_dolor_familiar_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.anterior_cefalea_familiar_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.anterior_dolor_referido_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

      </tr>
      <tr>
        <td class="text-center align-middle" style="font-weight: bold;">Masetero (origen)</td>
        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.origen_dolor_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.origen_dolor_familiar_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>
        <td>

        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.origen_dolor_referido_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

      </tr>
      <tr>
        <td class="text-center align-middle" style="font-weight: bold;">Masetero (cuerpo)</td>
        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.cuerpo_dolor_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.cuerpo_dolor_familiar_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>
        <td>
          
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.cuerpo_dolor_referido_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

      </tr>
      <tr>
        <td class="text-center align-middle" style="font-weight: bold;">Masetero (inserción)</td>
        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.insercion_dolor_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.insercion_dolor_familiar_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>

        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.insercion_dolor_referido_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

      </tr>
      <tr>
        <td class="text-center align-middle" style="font-weight: bold;">Polo Lateral (0.5 kg)</td>
        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.lateral_dolor_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.lateral_dolor_familiar_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>

        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.lateral_dolor_referido_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

      </tr>
      <tr>
        <td class="text-center align-middle" style="font-weight: bold;">Alrededor P.L(1 kg)</td>
        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.alrededor_dolor_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.alrededor_dolor_familiar_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td></td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.alrededor_dolor_referido_izquierdo_9 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

      </tr>
  </tbody>
</table>