<table class="table table-bordered text-center border-black">
  <thead>
      <tr>
          <th>LADO DERECHO</th>
          <th>Bloqueo</th>
          <th>Paciente</th>
          <th>Evaluador</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td class="text-center align-middle" style="font-weight: bold;">Mientras Abre</td>
          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.mientras_abre_bloqueo_derecho_8 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.mientras_abre_paciente_derecho_8 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.mientras_abre_evaluador_derecho_8 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

      </tr>
      <tr>
        <td class="text-center align-middle" style="font-weight: bold;">Posición Max. Apertura</td>
        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.posicion_max_apertura_bloqueo_derecho_8 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>	
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.posicion_max_apertura_paciente_derecho_8 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="form-group">
            <div class="btn-group-toggle" data-toggle="buttons">
              <div class="row">
                {% for checkbox in form.posicion_max_apertura_evaluador_derecho_8 %}
                  
                    <label class="btn btn-block">
                      {{ checkbox.tag }} {{ checkbox.choice_label }}
                    </label>
                  
                {% endfor %}
              </div>
            </div>
          </div>	
        </td>

      </tr>
  </tbody>
</table>