<table class="table table-bordered text-center border-black">
  <thead>
      <tr>
          <th>LADO IZQUIERDO</th>
          <th>Dolor</th>
          <th>Dolor Familiar</th>
          <th>Dolor Referido</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td class="text-center align-middle" style="font-weight: bold;">Región Mandibular Posterior</td>
          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.mandibular_dolor_izquierdo_10 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.mandibular_dolor_familiar_izquierdo_10 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.mandibular_dolor_referido_izquierdo_10 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

      </tr>
      <tr>
          <td class="text-center align-middle" style="font-weight: bold;">Región Submandibular </td>
          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.submandibular_dolor_izquierdo_10 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.submandibular_dolor_familiar_izquierdo_10 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.submandibular_dolor_referido_izquierdo_10 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

      </tr>
      <tr>
          <td class="text-center align-middle" style="font-weight: bold;">Area Pterigoideo Lateral </td>
          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.lateral_dolor_izquierdo_10 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.lateral_dolor_familiar_izquierdo_10 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.lateral_dolor_referido_izquierdo_10 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

      </tr>
      <tr>
          <td class="text-center align-middle" style="font-weight: bold;">Tendón del Temporal</td>
          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.temporal_dolor_izquierdo_10 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.temporal_dolor_familiar_izquierdo_10 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

          <td>
            <div class="form-group">
              <div class="btn-group-toggle" data-toggle="buttons">
                <div class="row">
                  {% for checkbox in form.temporal_dolor_referido_izquierdo_10 %}
                    
                      <label class="btn btn-block">
                        {{ checkbox.tag }} {{ checkbox.choice_label }}
                      </label>
                    
                  {% endfor %}
                </div>
              </div>
            </div>
          </td>

      </tr>
  </tbody>
</table>